body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

.container {
    display: flex;
    background-color: #ffbe76;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}

.card {
    perspective: 1000px;
    transform-style: preserve-3d;
}

.card-item { 
    background-color: #fff;
    width: 300px;
    height: 300px;
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.title{
    perspective: 10px;
    font-size: 50px;
    transform-style: preserve-3d;
}
.btn{
    cursor: pointer;
    border: none;
    background-color: rgb(117, 132, 227);
    padding: 10px 25px;

    perspective: 5px;
    transform-style: preserve-3d;
}
.btn:active{
    background-color: rgb(81, 96, 188);
}